:root {
    --roundness-primary: 3em;
    --roundness-secondary: 1.5em;
    --background-primary: #191414;
    --spotify-background-primary: #191414;
    --font-family-primary: sans-serif;
    --font-color-primary: rgb(255, 255, 255);
    --font-size-primary: 2em;
    --font-size-secondary: 1em;
    --transition-duration: 1.5s;
}

:root {
    --w: 100vw;
    --h: 100vh;
}

:root {
    --widget-padding: 1em;
}

:root {
    --track-margin: var(--widget-padding);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: var(--w);
    height: var(--h);
}

body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
}

h2, p {
    margin: 0;
    padding: 0;
}

.spotify-widget {
    display: flex;
    background-color: var(--background-primary);
    min-width: 500px;
    width: calc(var(--w) - var(--widget-padding));
    padding: var(--widget-padding);
    border-radius: var(--roundness-primary);
    overflow: hidden;
    position: relative;
    transition: background-color var(--transition-duration) ease-in-out;
    white-space: nowrap;
}

.spotify-widget.dark {
    background-color: var(--background-primary);
}

.artwork-container {
    height: 20vh;
    overflow: hidden;
    padding: var(--widget-padding);
    flex-shrink: 0;
}

#album-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--roundness-secondary);
    box-shadow: 0 0 1em black;
    transition: transform var(--transition-duration) ease-in-out;
}

.track-info {
    padding: var(--track-margin);
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#track-name {
    width: fit-content;
    margin-left: 1vw;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-primary);
    color: var(--font-color-primary);
    transition: color var(--transition-duration) ease-in-out;
}

#artist-name {
    width: fit-content;
    font-size: var(--font-size-secondary);
    margin-left: 1vw;
    padding-top: 0.8vh;
    color: var(--font-color-primary);
    transition: color var(--transition-duration) ease-in-out;
}

.progress-container {
    height: 1vh;
    margin: 4vh 0 0 1vh;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 100em;
}

.progress-bar {
    height: 1vh;
    background-color: var(--font-color-primary);
    border-radius: 100em;
    transition: width 1s linear;
}

.logo-container {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    display: flex;
    align-items: center;
}

.created-by {
    opacity: 0;
    position: absolute;
    right: 50px;
    font-size: var(--font-size-secondary);
    font-weight: 400;
    color: white;
    animation: showCredit-text 5s ease-in-out;
    animation-delay: 3s;
}

.spotify-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-image: url('https://static-00.iconduck.com/assets.00/spotify-icon-2048x2048-5gqpkwih.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: var(--spotify-background-primary);
    border-radius: 9999em;
    background-position: calc(100% - 5px) 50%;
    box-shadow: 0 0 5px black;
    animation: showCredit-logo 5s ease-in-out;
    animation-delay: 3s;
}

.animate-left {
    animation: slideLeft 30s linear infinite alternate;
}

.animate-right {
    animation: slideRight 30s linear infinite alternate;
}

.fade-out {
    opacity: 0;
    transition: opacity var(--transition-duration) ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity var(--transition-duration) ease-in;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes showCredit-logo {
    0%, 100% {
        width: 30px;
    }

    12.5%, 87.5% {
        width: 175px;
    }
}

@keyframes showCredit-text {
    0%, 12.5%, 87.5%, 100% {
        opacity: 0;
    }

    25%, 75% {
        opacity: 1;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    display: none !important;
}